fieldset {
    background-color: #fcebca;
    border-color:darkgoldenrod;
    color: #303030;
    border-radius: 4px;
    width: 600px;
}

.clase2 {
    font-style: italic;
    font-style: bold;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family:'Times New Roman', Times, serif;
}

.clase3 {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: whitesmoke;
}

.clase4 {
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    font-style: italic;
    font-style: bold;
    font-size: 2rem;
}

body {
    color:rgb(145, 145, 145);
}